APP_ENV=prod
APP_SECRET=change_me_super_secret
DEFAULT_URI=https://pesca.uz

DATABASE_URL=mysql://pesca:change_me@database:3306/pesca?serverVersion=8.0&charset=utf8mb4
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=pesca
MYSQL_USER=pesca
MYSQL_PASSWORD=change_me

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null