
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> smartstyle mobile uploads ###
/var/smartstyle_mobile_uploads/
###< smartstyle mobile uploads ###

###> twa-android (local Bubblewrap / Gradle) ###
/twa-android/android-release.keystore
/twa-android/.release-keystore.pass
/twa-android/.gradle/
/twa-android/**/build/
/twa-android/*.apk
/twa-android/*.aab
/twa-android/*.idsig
###< twa-android (local Bubblewrap / Gradle) ###

